.card {
  box-sizing: border-box;
  width: var(--w);
  height: calc(var(--w) * 1.5);
  --b-w: calc(var(--w) / 24);
  --b-r: calc(var(--w) / 12);
  --b-r-inner: calc(var(--b-r) - var(--b-w));
  border: solid #fff var(--b-w);
  border-radius: var(--b-r);
  background: #fff;
  color: #000;
}

.card .face {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.card .back {
  display: none;
}
.card.unknown .front {
  display: none;
}
.card.unknown .back {
  display: block;
}

.card.resource .face {
  background: var(--color-resource);
  border-radius: var(--b-r-inner);
}
.card.resource .circle {
  --d: calc(var(--w) * 3 / 4);
  height: var(--d);
  width: var(--d);
  background: #ffc;
}
.card.resource img {
  width: calc(var(--w) / 2);
}
.card.resource .back {
  --color-resource: #002657;
}

.card.development .front {
  box-sizing: border-box;
  height: 100%; width: 100%;
  background: #ffc;
  border: solid calc(var(--w) / 24)
      var(--color-development-type);
  border-radius: var(--b-r-inner);
}
.card.development .icon img {
  width: calc(var(--w) * 3 / 4);
}
.card.development.knight {
  --color-development-type: #6a2a60;
}
.card.development.progress {
  --color-development-type: #22884c;
}
.card.development.vp {
  --color-development-type: #000;
  --color-vp-bg: var(--color-gold);
}
.card.development .back {
  background: #ffc;
  border-radius: var(--b-r-inner);
}

.hand .card :is(h2, p) {
  display: none;  
}

.player-area .hand {
  height: 40px;
}
.player-area.bottom .hand {
  align-items: end;
}
.player-area .card {
  --w: 24px;
  margin: 0 2px 0 var(--adj, 0);
  cursor: zoom-in;
}
.player-area.right .card:last-child {
  margin-right: 0;
}

.card-viewer {
  flex-direction: column;
}
.card-viewer .hand {
  width: 1000px;
  max-height: 168px;
  flex-wrap: wrap;
  z-index: 1;
}
.card-viewer .hand .card {
  --w: 48px;
  margin: 6px;
  cursor: pointer;
}
.card-viewer .hand .card.selected {
  outline: solid 6px var(--color-gold);
}
.card-viewer .zoomed {
  height: 348px;
}
.card-viewer .zoomed .card {
  --w: 324px;
  height: var(--w);
  width: calc(var(--w) * 1.5);
  margin: 12px;
}
.card-viewer .zoomed .face {
  justify-content: space-evenly;
}
.card-viewer .zoomed .icon img {
  width: 144px;
}
.card-viewer button.play {
  display: none;
}

.trade-menu .hand {
  padding: 6px;
  margin: 14px;
  border-radius: 6px;
  cursor: pointer;
}
.trade-menu .card {
  --w: 36px;
  margin: 2px;
}
.trade-menu .selected {
  outline: solid 6px var(--color-gold);
}
