.turn-menu {
  justify-content: space-evenly;
  padding-bottom: 36px;
}
.turn-menu button {
  font: inherit;
  height: 54px;
  width: 260px;
  margin: 0 20px;
}
.turn-menu section {
  flex-direction: column;
}
.turn-menu h2 {
  margin: 18px;
}

.turn-menu:not(.before-roll) .initial-phase {
  display: none;
}
.turn-menu.before-roll .main-phase {
  display: none;
}

.turn-menu .buy-actions button {
  width: 220px;
}
.cost {
  margin: 4px;
}
.cost .card {
  --w: 24px;
  margin: 2px;
}

.trade-menu {
  justify-content: space-evenly;
}
.trade-menu section {
  flex-direction: column;
}

.dialog-confirm-cancel {
  display: none;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  --h: 150px;
  --w: 200px;
  --m: 40px;
  height: var(--h);
  width: var(--w);
  top: calc(
    var(--t) - var(--h) / 2 +
    var(--ab, 0) * (var(--h) / 2 + var(--m))
  );
  left: calc(var(--l) - var(--w) / 2);
  font-size: 25px;
  background: #ccca;
  color: #000;
  backdrop-filter: blur(10px);
  border: solid 1.5px #000;
  z-index: 3;
  border-radius: 12px;
  padding: 12px;
  justify-content: space-evenly;
}
.dialog-confirm-cancel .prompt {
  margin-left: 6px;
}
.dialog-confirm-cancel .choices {
  width: 100%;
  justify-content: space-evenly;
}
.dialog-confirm-cancel button {
  width: 60px;
  margin: 0;
  justify-content: space-evenly;
}
.dialog-confirm-cancel button svg {
  height: 30px;
  width: 30px;
}
.dialog-confirm-cancel button svg line {
  stroke: currentColor;
  stroke-width: 1.2;
  stroke-linecap: round;
}

.modal .prompt {
  font-size: 25px;
  max-width: 600px;
  margin: 20px;
}

.modal.explanation {
  z-index: 4;
}

.modal.quad-box {
  justify-content: space-evenly;
}
.modal.quad-box :is(.top, .bottom) {
  width: var(--width-game-area);
  justify-content: space-around;
  font-size: 25px;
}
.modal.quad-box .middle {
  flex-direction: column;
}

.quadrant {
  flex-direction: column;
}
.bottom .quadrant {
  flex-direction: column-reverse;
}
.quadrant .color-indicator {
  box-sizing: border-box;
  height: 12px;
  width: 120px;
  background: var(--color-player);
  border: solid 1.5px #000;
  margin: 12px;
}

.steal-menu .quadrant {
  padding: 12px;
  --br: 6px;
  border-radius: var(--br);
  cursor: pointer;
  visibility: hidden;
}
.steal-menu .quadrant.selected {
  outline: solid var(--br) var(--color-gold);
}
