:root {
  --color-bg: #97999c;
  --color-fg: #000;
  --color-blur: #aaaa;
  --color-gold: #f2a900;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #4c4e51;
    --color-fg: #fff;
    --color-blur: #555a;
  }
  .board,
  .side-zone,
  .overlay {
    filter: brightness(75%);
  }
}

body {
  height: 100vh;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  user-select: none;
  font: normal 20px Tahoma;
}

button {
  height: 60px;
  padding: 0;
  border-radius: 30px;
  border: solid 1.5px #000;
  font: normal 25px Tahoma;
  background: #c7c9c8;
/*  background: #d8d4d7;*/
  color: #000;
  cursor: pointer;
}
button.primary {
  background: var(--color-gold);
}
button:disabled {
  border: none;
  background: none;
  color: inherit;
  cursor: not-allowed;
}

h1 {
  display: none;
}
h2 {
  margin: 0;
}
p {
  margin: 0 12px;
  text-align: center;
}
p.vp {
  padding: 6px 12px;
  border: solid 6px currentColor;
  border-radius: 6px;
  font-weight: bold;
  background: var(--color-vp-bg, none);
}

.circle {
  border-radius: 50%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickable {
  pointer-events: auto;
}

.overlay {
  display: none;
  position: fixed;
  z-index: 3;
  height: 100vh;
  width:  100vw;
  background: var(--color-blur);
  backdrop-filter: blur(10px);
}

.brick {
/*  --color-resource: #930;*/
  --color-resource: #821;
}
.wood {
/*  --color-resource: #063;*/
  --color-resource: #153;
}
.sheep {
/*  --color-resource: #6c0;*/
  --color-resource: #5a1;
}
.wheat {
/*  --color-resource: #f90;*/
  --color-resource: #c91;
}
.rock {
/*  --color-resource: #666;*/
  --color-resource: #556;
}
