:root {
  --color-fg: #000;
  --color-bg:   #97999c;
  --color-blur: #97999caa;
  --color-gold: #f2a900;
  --color-hover: #fffa;
  --width-game-area: 1000px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-fg: #fff;
    --color-bg:   #4c4e51;
    --color-blur: #4c4e51aa;
  }
  .board,
  .side-zone,
  .modal {
    filter: brightness(75%);
  }
}

body {
  height: 100vh;
  margin: 0;
  background: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  user-select: none;
  font: normal 20px Tahoma;
}

.modal {
  position: fixed;
  z-index: 3;
  height: 100vh;
  width:  100vw;
  background: var(--color-blur);
  backdrop-filter: blur(10px);
  flex-direction: column;
}

button {
  height: 60px;
  padding: 0;
  border-radius: 30px;
  border: solid 1.5px #000;
  font: normal 25px Tahoma;
  background: #c7c9c8;
/*  background: #d8d4d7;*/
  color: #000;
  cursor: pointer;
  width: 228px;
  margin: 12px;
}
button:is(.cancel, .close):not(.continue) {
  background: #ec6f7a;
}
button:is(.confirm, .continue) {
  background: #6cb088;
}
button.unavailable {
  border: none;
  background: none;
  color: inherit;
  cursor: not-allowed;
/*  text-decoration: line-through;*/
}

h1 {
  display: none;
}
h2 {
  margin: 0;
}
p {
  margin: 0 12px;
  text-align: center;
}
p.vp {
  padding: 6px 12px;
  border: solid 6px currentColor;
  border-radius: 6px;
  font-weight: bold;
  background: var(--color-vp-bg, none);
}

.centered,
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

.clickable {
  pointer-events: auto;
}

.brick {
/*  --color-resource: #930;*/
  --color-resource: #821;
}
.wood {
/*  --color-resource: #063;*/
  --color-resource: #153;
}
.sheep {
/*  --color-resource: #6c0;*/
  --color-resource: #5a1;
}
.wheat {
/*  --color-resource: #f90;*/
  --color-resource: #c91;
}
.rock {
/*  --color-resource: #666;*/
  --color-resource: #556;
}
