.orange {
  --color-player: #fa4616;
  --color-player-contrast: #000;
}
.blue {
  --color-player: #0021a5;
  --color-player-contrast: #fff;
}
.white {
  --color-player: #fff;
  --color-player-contrast: #000;
}
.red {
  --color-player: #d32737;
  --color-player-contrast: #fff;
}

.road {
  --h: 60px;
  --w: 12px;
  background: var(--color-player);
  box-sizing: border-box;
  border: solid 1.5px #000;
  transform: rotate(calc(-60deg * var(--a)));
}
.road.invisible {
  --h: 66px;
  --w: 24px;
  background: none;
  border: none;
}
.road.invisible:is(:hover, .selected) {
  background: var(--color-hover);
  border-radius: 12px;
  z-index: 2;
  cursor: pointer;
}
.piece:not(.road) {
  z-index: 1;
}
.settlement {
  --h: 48px;
  --w: 48px;
}
.on-board .settlement {
  transform: translateY(-2.5px);
}
.city {
  --h: 64px;
  --w: 64px;
}
.on-board .city {
  --xfxl: translate(1px, -4.5px);
  transform: var(--xfxl);
}
.city.flipped {
  transform: scaleX(-1) var(--xfxl, );
}
.piece polygon {
  fill: var(--color-player);
  stroke: #000;
  stroke-width: 0.1875;
}

.site {
  --h: 54px;
  --w: 54px;
}
.site:is(:hover, .selected) {
  background: var(--color-hover);
  cursor: pointer;
}
