.orange {
  --color-player: #fa4616;
}
.blue {
  --color-player: #0021a5;
}
.white {
  --color-player: #fff;
}
.red {
  --color-player: #d32737;
}

.road {
  --h: 60px;
  --w: 12px;
  background: var(--color-player);
  box-sizing: border-box;
  border: solid 1.5px #000;
  transform: rotate(calc(-60deg * var(--a)));
}
.road.invisible {
  --h: 66px;
  --w: 24px;
  background: none;
  border: none;
}
.road.invisible:hover {
  background: #0006;
  border-radius: 12px;
  z-index: 2;
}
.piece:not(.road) {
  z-index: 1;
}
.settlement {
  --h: 48px;
  --w: 48px;
}
.city {
  --h: 64px;
  --w: 64px;
}
.city.flipped {
  transform: scaleX(-1);
}
.piece polygon {
  stroke: #000;
  stroke-width: 0.1875;
  fill: var(--color-player);
}

.site {
  --h: 48px;
  --w: 48px;
/*  pointer-events: auto;*/
}
.site:hover {
  background: #0006;
}
