.side-zone {
  width: 300px;
  margin: 0 -150px;
  z-index: 1;
}

.player-area {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.player-area.right {
  align-items: end;
}
.player-area.bottom {
  flex-direction: column-reverse;
  justify-content: end;
}

.player-area > div {
  display: flex;
}

.player-area .username {
  --h: 40px;
  height: var(--h);
  line-height: var(--h);
}
.player-area.left .username.on-turn::after {
  margin-left: 5px;
  content: "⇦";
}
.player-area.right .username.on-turn::before {
  margin-right: 5px;
  content: "⇨";
}

.houses {
  align-items: end;
  height: 28px;
}
.player-area.right .houses {
  flex-direction: row-reverse;
}
.player-area .piece {
  height: calc(var(--h) / 2);
  width: calc(var(--w) / 2);
}
.player-area .piece:not(.road) {
  margin: -2px;
}
.roads {
  height: 32px;
}
.player-area.top .roads {
  align-items: end;
}
.player-area .road {
  border-width: 0.75px;
  margin: 0 2px;
}
.player-area.left .piece:not(.road):first-child {
  margin-left: -4px;
}
.player-area.left .road:first-child {
  margin-left: 0;
}
.player-area.right .piece:not(.road):first-child {
  margin-right: -4px;
}
.player-area.right .road:last-child {
  margin-right: 0;
}

.median {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right .median {
  flex-direction: row-reverse;
}
.median button {
  width: 140px;
  margin: 0;
}
.median :is(.cancel, .discard, .steal) {
  display: none;
}

/* For hands and cards, see cards.css */

/* For badges, see badges.css */
