:root {
  --bg: #97999c;
  --fg: #cdcfd3;
  --dark: #16171a;
  --light: #fff;
  
/*  UF-derived colors*/
/*  --color-brick: rgb(154,36,26);*/
/*  --color-wool: ???;*/
/*  --color-ore: rgb(52,55,65);*/
/*  --color-grain: #f2a900;*/
/*  --color-lumber: rgb(23,91,48);*/

  --color-water: #06c;
/* 00c 039 03c 069 06c 06f 09c 09f 369 36c 36f */
/* 03c 06c 06f 09c 09f 36c 36f */
/* 06c */
  --color-sand: #cc9;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #4c4e51;
    --fg: #8a8c8f;
    --dark: #000;
    --light: #cdcfd3;
  }
  .board, .hand, .inventory {filter: brightness(75%);}
}

body {
  height: 100vh;
  margin: 0;
  background: var(--bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overscroll-behavior: none;
  -webkit-overscroll-behavior: none;
  user-select: none;
  font: normal 24px Tahoma;
}

svg {width: inherit; height: inherit;}

.circle {border-radius: 50%;}

.brick {--color-resource: #930;}
.wood  {--color-resource: #063;}
.sheep {--color-resource: #6c0;}
.wheat {--color-resource: #f90;}
.rock  {--color-resource: #666;}

.board {
  position: relative;
  --oT: 300px;
  --oL: calc(var(--oT) * 1.1547); /* 2/√3 */
  height: calc(var(--oT) * 2);
  width: calc(var(--oL) * 2);
}

.water {
  fill: var(--color-water);
}
.hex {
  stroke: var(--color-sand);
  stroke-width: 0.12;
  stroke-linejoin: round;
  fill: var(--color-resource, var(--color-sand));
}

.on-board {
  position: absolute;
  top: 0; left: 0;
  height: 100%; width: 100%;
}
.on-board > * {
  position: absolute;
  height: var(--h);
  width: var(--w);
  top: calc(var(--t) - var(--h) / 2);
  left: calc(var(--l) - var(--w) / 2);
}

.chit {
  --d: 50px;
  --h: var(--d);
  --w: var(--d);
  line-height: var(--d);
  text-align: center;
  background: var(--color-sand);
}
.chit.robber {
  outline: solid 4px #000;
}
svg.robber {
  position: absolute;
  top: 0; left: 0;
  height: var(--d);
  width: var(--d);
}
svg.robber line {
  stroke: #000;
  stroke-width: 0.16;
}

.port {
  stroke: var(--color-sand);
  stroke-width: 0.08;
  fill: var(--color-resource, none);
}

.player-area {
  height: 300px;
  width:  300px;
  margin: 0 -150px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
/*  outline: solid 1px red;*/
}
.player-area.right {
  align-items: end;
}
.player-area.bottom {
  flex-direction: column-reverse;
  justify-content: end;
}

.player-name {
  margin: 0 1px 5px;
}

.inventory {
  display: flex;
  flex-shrink: 0;
  align-items: end;
}
.player-area.right .inventory.houses {
  flex-direction: row-reverse;
}
.inventory .piece {
  position: static;
  height: calc(var(--h) / 2);
  width: calc(var(--w) / 2);
  margin: 0 -1px;
}

.badge {
  box-sizing: border-box;
  height: 30px;
  width: 60px;
  margin: 6px 3px;
  border: solid #f2a900 1px;
  font-size: 18px;
  color: #f2a900;
  text-transform: uppercase;
  display: none;
  justify-content: center;
  align-items: center;
}
.badge.awarded {
  display: flex;
}
.largest-army {
  background: #6a2a60;
}
.longest-road {
  background: #343741;
}

.card {
  --w: 54px;
  min-width: var(--w);
  height: calc(var(--w) * 1.5);
}
.card .face {
  box-sizing: border-box;
  height: 100%; width: 100%;
  border-radius: calc(var(--w) / 12);
  border: solid #fff calc(var(--w) / 24);
}
.player-area .card {
  --w: 24px;
  margin: 0 3px 3px var(--adj, 0);
}
.player-area.left .hand {
  padding-left: 3px;
}

.card .back {display: none;}
.card.unknown .front {display: none;}
.card.unknown .back  {display: block;}

.card .front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card.resource .front {
  background: var(--color-resource);
}
.card.resource .front .circle {
  width: calc(var(--w) * 3 / 4);
  height: calc(var(--w) * 3 / 4);
  display: flex;
  justify-content: center;
  background: #ffc;
}
.card.resource .front img {
  width: calc(var(--w) / 2);
}
.card.resource .back {
  background: #002657;
}

.card.development .front {
  background: #ffc;
}
.card.development .front .icon {
  box-sizing: border-box;
  height: 100%; width: 100%;
  border: solid calc(var(--w) / 24) 
      var(--color-development);
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.development .front img {
  width: calc(var(--w) * 3 / 4);
}
.card.development.knight {
  --color-development: #6a2a60;
}
.card.development.progress {
  --color-development: #22884c;
}
.card.development.vp {
  --color-development: #000;
}
.card.development .back {
  background: #ffc;
}

.orange {--color-player: #fa4616;}
.blue   {--color-player: #0021a5;}
.white  {--color-player: #ffffff;}
.red    {--color-player: #d32737;}
/*.red    {--color-player: #6a2a60;}*/

.road {
  --h: 60px;
  --w: 12px;
  background: var(--color-player);
  box-sizing: border-box;
  border: solid 1.5px #000;
  transform: rotate(calc(-60deg * var(--a)));
}
.inventory .road {
  border-width: 0.75px;
  margin: 3px;
}
.settlement {
  --h: 48px;
  --w: 48px;
}
.city {
  --h: 64px;
  --w: 64px;
}
.city.flipped {
  transform: scaleX(-1);
}
.piece polygon {
  stroke: #000;
  stroke-width: 0.1875;
  fill: var(--color-player);
}

.debug-label {
  display: none;
  font: normal 1px Tahoma;
}
