.turn-menu {
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 36px;
}
.turn-menu button {
  font: inherit;
  height: 54px;
  width: 260px;
  margin: 0 20px;
}
.turn-menu section {
  flex-direction: column;
}
.turn-menu h2 {
  margin: 18px;
}

.turn-menu .start-turn {
  display: none;
}

.turn-menu .buy button {
  width: 220px;
}
.cost {
  margin: 4px;
}
.cost .card {
  --w: 24px;
  margin: 2px;
}
